<nav>
    <div id="menu-burger" >
        <a href="#">&#9776;</a>
    </div>
    <div id="menu-mobile" class="overlay">
        <a href="#" class="closebtn closeNav">&times;</a>
        <div class="overlay-content">
            <a href="{{ path('home')}}#qui" class="closeNav" title="Qui suis-je ?">Qui suis-je ?</a>
            <a href="{{ path('home')}}#mes_realisations"  class="closeNav" title="Réalisations">Réalisations</a>
            <a href="{{ path('home')}}#cv"  class="closeNav" title="Mon CV">Mon CV</a>
            <a href="{{ path('home')}}#contact"  class="closeNav" title="Contact">Contact</a>
        </div>
    </div>
    <ul>
        <li id="home"><a title="accueil" class="active" href="{{ path('home')}}"><i class="fa fa-fw fa-home"></i></a></li>
        <li><a href="{{ path('home')}}#qui" title="Qui suis-je ?">Qui suis-je ?</a></li>
        <li><a href="{{ path('home')}}#mes_realisations" title="Réalisations">Réalisations</a></li>
        <li><a href="{{ path('home')}}#cv" title="Mon CV">Mon CV</a></li>
        <li><a href="{{ path('home')}}#contact" title="Contact">Contact</a></li>
    </ul>
</nav>