<h2 id="mes_realisations">Mes réalisations</h2>
<p>Découvrez ci-dessous quelques-unes de mes réalisations.</p>
<!-- DEBUT BLOC 1 REALISATIONS -->
<div class="realisations">
    <!-- DEBUT REA1 -->
    <div class="rea" id="rea1">
        <div class="front">
            <h4>SITE</h4>
            <h5>Recettes de cuisine</h5>
            <figure>
                <img alt="aperçu site recettes cuisine" src="{{ asset('images/popote-alex.jpg') }}" />
            </figure>
            <p>Le code HTML de ce site est entièrement généré par du Javascript ! Un moteur de recherche permet de trouver rapidement des recettes.
            </p>
        </div>
        <div class="back" >
            <h5>Techno utilisées</h5>
            <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Javascript (bien sûr !)</li>
                <li>JSON</li>
            </ul>
            <a title ="voir le site" target="blank" href="{{ asset('files/recettes-cuisine/index.html') }}">Voir le site</a>
            <a href="https://github.com/anthyllide/Recettes-cuisine" target="blank" title="repository Github">Voir le code source</a>
        </div>
    </div>
    <!-- FIN REA1 -->
    <!-- DEBUT REA2 -->
    <div class="rea" id="rea2">
        <div class="front">
            <h4>SITE</h4>
            <h5>Gestion photos</h5>
            <figure>
                <img alt="aperçu accueil boutique en ligne" src="{{ asset('images/album-photos.jpg') }}" />
            </figure>
            <p>Le but de ce site est de permettre à l'utilisateur d'uploader des photos et de les classer par thème.
            </p>
        </div>
        <div class="back" >
            <h5>Techno utilisées</h5>
            <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>PHP 5 <span>(PDO et structure MVC)</span></li>
                <li>SQL <span>pour la base de données</span></li>
            </ul>
            <a title ="voir le site" target="blank" href="#">Voir le site</a>
            <a href="https://github.com/anthyllide/projet_album" target="blank" title="repository Github">Voir le code source</a>
        </div>
    </div>  
    <!-- FIN REA2 -->
    <!-- DEBUT REA3 -->     
    <div class="rea" id="rea3">
        <div class="front">
            <h4>SITE</h4>
            <h5>Boutique en ligne</h5>
            <figure>
                <img alt="aperçu accueil boutique en ligne" src="{{ asset('images/boutique.jpg') }}" />
            </figure>
            <p>Cette mini boutique en ligne a été développée avec le framework Symfony 2.8. Un espace administration permet au commerçant de gérer ses articles et ses clients.
            </p>
        </div>
        <div class="back" >
            <h5>Techno utilisées</h5>
            <ul>
                <li>HTML 5</li>
                <li>Framework Bootstrap et CSS 3 en sur-couche</li>
                <li>PHP 5 et le framework Symfony 2.8</li>
                <li>SQL via Doctrine <span>pour la base de données</span><br /><br />
                <span> Remarque : consulter le fichier readme pour naviguer dans l'espace administration ! </span>
                </li>               
            </ul>
            <a title ="voir le site" target="blank" href="#">Voir le site</a>
            <a href="https://github.com/anthyllide/boutiqueEnLigne" target="blank" title="repository Github">Voir le code source</a>
        </div>
    </div>
    <!-- FIN REA3 -->
</div> 
<!-- FIN BLOC 1 REALISATIONS -->
<!-- DEBUT BLOC 2 REALISATIONS -->              
<div class="realisations">
    <!-- DEBUT REA4 -->
    <div class="rea" id="rea4">
        <div class="front">
            <h4>APP</h4>
            <h5>Tabata Timer</h5>
            <figure>
                <img alt="aperçu accueil boutique en ligne" src="{{ asset('images/tabata.jpg') }}" />
            </figure>
            <p>Cette application vous permet de définir vous-même vos "tabata timer" et même d'enregistrer plusieurs versions.
            </p>
        </div>
        <div class="back" >
            <h5>Techno utilisées</h5>
            <ul>
                <li>JAVA</li>
                <li>Android Studio</li>
                <li>Sugar ORM <span>pour la base de données</span></li>
            </ul>
            <a title ="télécharger l'app" target="blank" href="https://play.google.com/store/apps/details?id=fr.gonzalez.alexandra.tabatatimer">Télécharger l'app</a>
            <a href="https://github.com/anthyllide/applicationMobile_Tabatatimer" target="blank" title="repository Github">Voir le code source</a>
        </div>
    </div>  
    <!-- FIN REA4 -->
    <!-- DEBUT REA5 -->     
    <div class="rea" id="rea5">
        <div class="front">
            <h4>APP</h4>
            <h5>Simulateur autonomie Zoé</h5>
            <figure>
                <img alt="aperçu accueil boutique en ligne" src="{{ asset('images/simulateur-zoe.jpg') }}" />
            </figure>
            <p>Cette application "hybride" simule l'autonomie de la voiture électrique Zoé de Renault selon plusieurs paramètres. 
            </p>
        </div>
        <div class="back" >
            <h5>Techno utilisées</h5>
            <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Javascript</li>
                <li>Angular JS</li>
                <li>Cordova</li>
            </ul>
            <a title ="télécharger l'app" target="blank" href="https://play.google.com/store/apps/details?id=xyz.gonzalez.alexandra.autonomieZoe">Télécharger l'app</a>
            <a href="https://github.com/anthyllide/App-Autonomie-Renault-Zoe" target="blank" title="repository Github">Voir le code source</a>
        </div>
    </div>
    <!-- FIN REA5 -->
    <!-- DEBUT REA6 -->
    <div class="rea" id="rea6">
        <div class="front">
            <h4>SITE</h4>
            <h5>Présentation & CV</h5>
            <figure>
                <img alt="aperçu site cv" src="{{ asset('images/presentation.jpg') }}" />
            </figure>
            <p>Il s'agit du site que vous êtes en train de consulter ! Cette page présente mes compétences et met en valeur quelques-unes de mes réalisations.
            </p>
        </div>
        <div class="back" >
            <h5>Techno utilisées</h5>
            <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>JQuery</li>
                <li>PHP7 et le framework Symfony 4</li>
            </ul>
            <a href="https://github.com/anthyllide/site-presentation" target="blank" title="repository Github">Voir le code source</a>
        </div>
    </div>  
    <!-- FIN REA6 -->               
</div>
<!-- FIN BLOC 2 REALISATIONS -->